

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>About Us</li>
			</div>
		</div>
	</div>

	<!-- <div class="aboutus"> -->
	<div class="about" id="about-us">
		<div class="container">
			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
				<h2>about us</h2>
				<img src="images/gallery/NIFC03.jpg" class="img-responsive"/>
				<p>​All started in 2008 when a couple of parents got together to establish Team Barcelona and so coach theirs sons and their sons' friends.</p>
				<p>They started playing on their neighborhood and decided to form a team and started participating in local leagues. At the beginning they were losing all their games but soon thereafter started to get better and better and now they are a very competitive team playing at the Division 2 level.</p>
			</div>

			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
				<br>
				<h2>the club</h2>
				<p>​After a few years with the Tennessee Soccer Club, we realized that we needed to expand, so we could achieve our own goals. That's one of the reasons why we became the Nashville International Futbol Club.</p>
				<p>This club is dedicated to foster a Love and Passion for soccer by developing players, supporting coaches, communicating with and appreciating parents, and positively impacting our community.</p>
				<img src="images/slider/NIFC-logo-FinalSmall.png" class="img-responsive"/>
			</div>
		</div>
	</div>
	<!-- </div> -->

	<div class="our-team">
		<div class="container">
			<h3>Board of Directors</h3>
			<div class="text-center">
				<div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
					<img src="images/coaches/soccer_coach1.jpg" alt="" class="coach-img">
					<h4>Jose Salazar</h4>
					<p>President & Treasurer (head coach for Barcelona U15)</p>
				</div>
				<div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
					<img src="images/coaches/soccer_coach2.jpg" alt="" class="coach-img">
					<h4>Carmen M. Salazar</h4>
					<p>Secretary (Team manager for Barcelona U15 and Club Registrar)</p>
				</div>
				<div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
					<img src="images/coaches/soccer_coach3.jpg" alt="" class="coach-img">
					<h4>Guadalupe Martinez</h4>
					<p>Director of Coaching (head coach for Barcelona U18)</p>
				</div>
				<div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
					<img src="images/coaches/soccer_coach4.jpg" alt="" class="coach-img">
					<h4>Ricardo Catalan</h4>
					<p>Team manager for U18</p>
				</div>
			</div>
		</div>
	</div>
