	<!-- Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="intro-text">
						<div class="intro-lead-in">
							<h1>About Us</h1>
							<p>​Team Barcelona was established in 2008 by a couple of parents who got together to coach theirs sons and their sons' friends.  They started playing on their neighborhood and decided to form a team and started participating in local leagues.  At the beginning they were losing all their games but soon thereafter started to get better and better and now they are a very competitive team playing at the Division 2 level.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="intro-text">
						<div class="intro-lead-in">
							<h1>Let's put an image here</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
