  <!-- Blue bar after logo -->
  <div  class="col-lg-12">
  <nav id="main-navigation" class="navbar navbar-fixed-top">
    <div class="container container-fluid">
      <div class="navbar-header page-scroll">
        <p class="navbar-brand page-scroll intro-text">A LITTLE BIT ABOUT US, YOUR CLUB</p>
      </div>
    </div> <!-- container-fluid -->
  </nav>
  </div> <!-- Blue bar -->

	<div class="row marketing">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="intro-text">
						<div class="intro-lead-in">
							<h1>About Us</h1>
							<p>​All started in 2008 when a couple of parents got together to establish Team Barcelona and so coach theirs sons and their sons' friends.</p>
							<p>They started playing on their neighborhood and decided to form a team and started participating in local leagues. At the beginning they were losing all their games but soon thereafter started to get better and better and now they are a very competitive team playing at the Division 2 level.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="intro-text">
						<div class="intro-lead-in">
							<h1>The Club</h1>
							<p>​After a few years with the Tennessee Soccer Club, we realized that we needed to expand, so we could achieve our own goals. That's one of the reasons why we became the Nashville International Futbol Club.</p>
							<p>This club is dedicated to foster a Love and Passion for soccer by developing players, supporting coaches, communicating with and appreciating parents, and positively impacting our community.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="intro-text">
						<div class="intro-lead-in">
							<h1>About Us</h1>
							<p>​All started in 2008 when a couple of parents got together to establish Team Barcelona and so coach theirs sons and their sons' friends.</p>
							<p>They started playing on their neighborhood and decided to form a team and started participating in local leagues. At the beginning they were losing all their games but soon thereafter started to get better and better and now they are a very competitive team playing at the Division 2 level.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="intro-text">
						<div class="intro-lead-in">
							<h1>The Club</h1>
							<p>​After a few years with the Tennessee Soccer Club, we realized that we needed to expand, so we could achieve our own goals. That's one of the reasons why we became the Nashville International Futbol Club.</p>
							<p>This club is dedicated to foster a Love and Passion for soccer by developing players, supporting coaches, communicating with and appreciating parents, and positively impacting our community.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
