

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Contact</li>
			</div>
		</div>
	</div>

	<div class="map">
		<div class="container">
			<div class="row color-font">
			<hr class="small">
					<div class="col-lg-6 col-md-6"> <!-- Map -->
						<section class="map bg_map find-us">
						<br>
								<p class="find-us"><h3><strong>Find us!</strong></h3></p><br>
								<iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Metro+Soccer+Complex,+1266+Donelson+Pike,+Nashville,+TN&amp;aq=0&amp;oq=metro+soccer+complex&amp;sll=36.1034122,-86.6800632&amp;ie=UTF8&amp;hq=Metro+Soccer+Complex,+1266+Donelson+Pike,+Nashville,+TN&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
								<br />
								<small>
										<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Metro+Soccer+Complex,+1266+Donelson+Pike,+Nashville,+TN&amp;aq=0&amp;oq=twitter&amp;sll=36.1034122,-86.6800632&amp;ie=UTF8&amp;hq=Metro+Soccer+Complex,+1266+Donelson+Pike,+Nashville,+TN&amp;t=m&amp;z=15&amp;iwloc=A"></a>
								</small>
								<!-- </iframe> -->
						</section>
					</div>
					<div class="col-lg-6 col-md-6">
						<section class="find-us phone-email">
						<br>
						<h3><strong>Nashville International Futbol Club</strong></h3>
						<p>Metro Soccer Complex (Dell)</p>
						<p>1270 Donelson Pike</p>
						<p>Nashville, TN 37217</p>
						<ul class="list-unstyled phone-email">
								<li><a href="tel:615-397-9209"> <i class="fa fa-phone fa-fw"></i> (615) 397-9209</a></li>
								<li><a href="mailto:nasc.teambarcelona@gmail.com"><i class="fa fa-envelope-o fa-fw"></i> info@nashvilleinternationalfutbolclub.com</a>
								</li>
						</ul>
						<br>
						<ul class="list-inline social">
								<li>
										<a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
								</li>
								<li>
										<a href="http://twitter.com/"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
								</li>
								<li>
										<a href="https://plus.google.com/"><i class="fa fa-google-plus fa-fw fa-2x"></i></a>
								</li>
						</ul>
						</section>
					</div>
			</div> <!-- row  -->
			<hr class="small">

		</div>
	</div>

	<section id="contact-page">
				<div class="container">
						<div class="center">
								<h2>Drop Us A Line!</h2>
								<p>If you want to know more about our Club, please send us a message.</p>
						</div>
						<div class="row contact-wrap">
								<div class="status alert alert-success" style="display: none"></div>
								<form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
										<div class="col-sm-5 col-sm-offset-1">
												<div class="form-group">
														<label>Name *</label>
														<input type="text" name="name" class="form-control" required="required">
												</div>
												<div class="form-group">
														<label>Email *</label>
														<input type="email" name="email" class="form-control" required="required">
												</div>
												<div class="form-group">
														<label>Phone</label>
														<input type="number" class="form-control">
												</div>
												<div class="form-group">
														<label>Company Name</label>
														<input type="text" class="form-control">
												</div>
										</div>
										<div class="col-sm-5">
												<div class="form-group">
														<label>Subject *</label>
														<input type="text" name="subject" class="form-control" required="required">
												</div>
												<div class="form-group">
														<label>Message *</label>
														<textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>
												</div>
												<div class="form-group">
														<button type="submit" name="submit" class="btn btn-primary btn-lg center" required="required">Submit Message</button>
												</div>
										</div>
								</form>
						</div><!--/.row-->
				</div><!--/.container-->
		</section><!--/#contact-page-->
