  <!-- Blue bar after logo -->
  <div  class="col-lg-12">
  <nav id="main-navigation" class="navbar navbar-fixed-top">
    <div class="container container-fluid">
      <div class="intro-text">
        <p class="blue-bar">SOME OF OUR COOL PICTURES...</p>
      </div>
    </div> <!-- container-fluid -->
  </nav>
  </div> <!-- Blue bar -->

	<div id="wrapper">
	 <section>
			<div class="bs-example" data-example-id="simple-thumbnails">
				<div class="row">
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/NIFC03.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/nifc01.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/crop.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/NIFC03.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
				</div>
			</div>
		</section>

	 <section>
			<div class="bs-example" data-example-id="simple-thumbnails">
				<div class="row">
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/nifc01.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/crop.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/NIFC03.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/nifc01.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
				</div>
			</div>
		</section>


	 <section>
			<div class="bs-example" data-example-id="simple-thumbnails">
				<div class="row">
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/crop.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/NIFC03.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/nifc01.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a href="#" class="thumbnail">
							<img data-src="holder.js/100%x180" alt="100%x180" src="img/crop.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
						</a>
					</div>
				</div>
			</div>
		</section>


	</div>
