

	<section id="main-slider" class="no-margin">
				<div class="carousel slide">
						<div class="carousel-inner">
								<div class="item active" style="background-image: url(images/slider/NouCamp.jpg)">
										<div class="container">
												<div class="row slide-margin">
														<div class="col-sm-6">
																<div class="carousel-content">
																		<h2 class="animation animated-item-1">Welcome to Nashville International Futbol Club</h2>
																		<p class="animation animated-item-2">Your people, your players, your club.</p>
																</div>
														</div>

														<div class="col-sm-6 hidden-xs animation animated-item-4">
																<div class="slider-img">
																		<img src="images/slider/NIFC-logo-FinalSmall.png" class="img-responsive">
																</div>
														</div>
												</div>
												<div class="row slide-margin scroll-down"><i class="fa fa-futbol-o"></i>Scroll down to Learn More</div>
										</div>
								</div><!--/.item-->
						</div><!--/.carousel-inner-->
				</div><!--/.carousel-->
		</section><!--/#main-slider-->

	<div class="feature text-center">
		<div class="container">
			<div class="text-center">
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
						<img class="img-responsive" src="images/natlLeague.png" alt="">
					</div>
				</div>
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
						<img class="img-responsive" src="images/nscaa.png" alt="">
					</div>
				</div>
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
						<img class="img-responsive" src="images/tennesseeSoccer.png" alt="">
					</div>
				</div>
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
						<img class="img-responsive" src="images/usYouthSoccer.png" alt="">
					</div>
				</div>
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
						<img class="img-responsive" src="images/usSoccer.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<hr class="small">
	</div>

	<section id="portfolio text-center">
		<div class="container">
						<div class="">
								<div class="portfolio-items">
										<div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/ChristDiedForMe.jpg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/ChristDiedForMe.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/crop.png" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
									<a class="preview" href="images/gallery/crop.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/DeportivoSmyrna.jpeg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/DeportivoSmyrna.jpeg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/IjustWantToContinueToGrow.jpg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/IjustWantToContinueToGrow.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/ItsNotAboutBeingBetter.jpg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/ItsNotAboutBeingBetter.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/nifc01.jpg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/nifc01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/nifc02.png" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/NIFC02.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/nifc01.png" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/NIFC01.png" r l="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->
								</div>
						</div>
				</div>
		</section><!--/#portfolio-item-->

	<div class="about" id="about-us">
		<div class="container">
			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
				<h2>about us</h2>
				<img src="images/gallery/NIFC03.jpg" class="img-responsive"/>
				<p><h4>​All started in 2008 when a couple of parents got together to establish Team Barcelona and so coach theirs sons and their sons' friends.</h4></p>
				<p><h4>They started playing on their neighborhood and decided to form a team and started participating in local leagues. At the beginning they were losing all their games but soon thereafter started to get better and better and now they are a very competitive team playing at the Division 2 level.</h4></p>
			</div>

			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
				<br>
				<h2>the club</h2>
				<p><h4>​After a few years with the Tennessee Soccer Club, we realized that we needed to expand, so we could achieve our own goals. That's one of the reasons why we became the Nashville International Futbol Club.</h4></p>
				<p><h4>This club is dedicated to foster a Love and Passion for soccer by developing players, supporting coaches, communicating with and appreciating parents, and positively impacting our community.</h4></p>
			</div>
		</div>
	</div>

	<div class="news">
		<div class="container">
			<div class="text-center">
				<h2>Lates News</h2>
			</div>
			<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<img src="images/gallery/chicharito-firma.png" class="img-responsive gallery-img"/>
				<h3>Leverkusen confirma llegada de Chicharito</h3>
				<p>Javier Hernández llega para ser el quinto delantero en el plantel del Bayer Leverkusen en esta Temporada, el segundo de mayor edad y el segundo con mayor experiencia en el fútbol europeo, por lo que la titularidad estará prácticamente garantizada en su nuevo club, donde tendrá competencia con futbolistas de Alemania, Turquía, Suiza y Ucrania.
				</p>
			</div>

			<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
				<img src="images/gallery/tecatito.png" class="img-responsive gallery-img"/>
				<h3>'Tecatito' Corona sale del Twente holandés y firma con el Porto</h3>
				<p>MÉXICO -- Jesús 'Tecatito' Corona se convirtió en el cuarto mexicano en militar en el Porto de la Primera División de Portugal luego de que se concretara su fichaje procedente del Twente holandés
				</p>
			</div>

			<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
				<img src="images/gallery/pape-diop.jpg" class="img-responsive gallery-img"/>
				<h3>Genera curiosidad la llegada del senegalés Pape Diop al Espanyol</h3>
				<p>BARCELONA -- Si existen fichajes entre extraños y rocambolescos, el del senegalés Pape Diop por el RCD Espanyol se llevaría un premio doble. Por rocambolesco y extraño. Tres días después de que Sergio González diera por hecho que no iba a ficharle, el jugador se presentó como nuevo futbolista blanquiazul.
				</p>
			</div>
		</div>
	</div>

	<section id="partner">
				<div class="container">
						<div class="center wow fadeInDown">
								<h2>Our Sponsors</h2>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
						</div>
						<div class="partners">
							<ul>
								<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/waller.png"></a></li>
								<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/soccer.gif"></a></li>
								<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/RB-logo.png"></a></li>
								<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/US_Autocraft_LLC.png"></a></li>
								<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/LandoBWebSolutionsLogo.png"></a></li>
							</ul>
						</div>
				</div><!--/.container-->
		</section><!--/#partner-->

	<section id="contacto-info">
				<div class="container">
						<div class="row">
								<div class="col-sm-8">
										<div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
												<div class="pull-left">
														<i class="fa fa-phone"></i>
												</div>
												<div class="media-body">
														<h2>Have a question? Please feel free to contact us!</h2>
														<a href="tel:615-397-9209" class="telephone"><h2>(615) 397-9209</h2></a>
												</div>
										</div>
								</div>
						</div>
				</div><!--/.container-->
		</section><!--/#conatcat-info-->


