

	<section id="main-slider" class="no-margin">
				<div class="carousel slide">
						<div class="carousel-inner">
								<div class="item active" style="background-image: url(images/slider/NouCamp.jpg)">
										<div class="container">
												<div class="row slide-margin">
														<div class="col-sm-6">
																<div class="carousel-content">
																		<h2 class="animation animated-item-1">Welcome to Nashville International Futbol Club</h2>
																		<p class="animation animated-item-2">Your people, your players, your club.</p>
																</div>
														</div>

														<div class="col-sm-6 hidden-xs animation animated-item-4">
																<div class="slider-img">
																		<img src="images/slider/NIFC-logo-FinalSmall.png" class="img-responsive">
																</div>
														</div>
												</div>
												<div class="row slide-margin scroll-down"><i class="fa fa-futbol-o"></i>Scroll down to Learn More</div>
										</div>
								</div><!--/.item-->
						</div><!--/.carousel-inner-->
				</div><!--/.carousel-->
		</section><!--/#main-slider-->

	<div class="feature text-center">
		<div class="container">
			<div class="text-center">
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
						<img class="img-responsive" src="images/natlLeague.png" alt="">
					</div>
				</div>
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
						<img class="img-responsive" src="images/nscaa.png" alt="">
					</div>
				</div>
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
						<img class="img-responsive" src="images/tennesseeSoccer.png" alt="">
					</div>
				</div>
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
						<img class="img-responsive" src="images/usYouthSoccer.png" alt="">
					</div>
				</div>
				<div class="col-md-2 logo-right">
					<div class="hi-icon-wrap hi-icon-effect wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
						<img class="img-responsive" src="images/usSoccer.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<hr class="small">
	</div>

	<section id="portfolio text-center">
		<div class="container">
						<div class="">
								<div class="portfolio-items">
										<div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/ChristDiedForMe.jpg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/ChristDiedForMe.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/crop.png" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
									<a class="preview" href="images/gallery/crop.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/DeportivoSmyrna.jpeg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/DeportivoSmyrna.jpeg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/IjustWantToContinueToGrow.jpg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/IjustWantToContinueToGrow.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/ItsNotAboutBeingBetter.jpg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/ItsNotAboutBeingBetter.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/nifc01.jpg" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/nifc01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/NIFC02.png" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/NIFC02.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->

										<div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">
												<div class="recent-work-wrap">
														<img class="img-responsive gallery-img" src="images/gallery/NIFC01.png" alt="">
														<div class="overlay">
																<div class="recent-work-inner">
																		<a class="preview" href="images/gallery/NIFC01.png" r l="prettyPhoto"><i class="fa fa-eye"></i> View</a>
																</div>
														</div>
												</div>
										</div><!--/.portfolio-item-->
								</div>
						</div>
				</div>
		</section><!--/#portfolio-item-->

	<div class="about" id="about-us">
		<div class="container">
			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" >
				<h2>about us</h2>
				<img src="images/gallery/NIFC03.jpg" class="img-responsive"/>
				<p><h4>​All started in 2008 when a couple of parents got together to establish Team Barcelona and so coach theirs sons and their sons' friends.</h4></p>
				<p><h4>They started playing on their neighborhood and decided to form a team and started participating in local leagues. At the beginning they were losing all their games but soon thereafter started to get better and better and now they are a very competitive team playing at the Division 2 level.</h4></p>
			</div>

			<div class="col-md-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" >
				<br>
				<h2>the club</h2>
				<p><h4>​After a few years with the Tennessee Soccer Club, we realized that we needed to expand, so we could achieve our own goals. That's one of the reasons why we became the Nashville International Futbol Club.</h4></p>
				<p><h4>This club is dedicated to foster a Love and Passion for soccer by developing players, supporting coaches, communicating with and appreciating parents, and positively impacting our community.</h4></p>
			</div>
		</div>
	</div>

	<div class="news">
		<div class="container">
			<div class="text-center">
				<h2>Latest News</h2>
			</div>
			<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<img src="images/gallery/chivas-campeon-copa-mx.png" class="img-responsive gallery-img"/>
				<h3>El gigante resurgió; Chivas, Campeón de Copa MX</h3>
				<p>LEON -- Al llegar a Guadalajara, como Director Técnico de Chivas, Matías Almeyda prometió que haría resurgir al "gigante dormido", la promesa le llevó 50 días para cumplirla, pues esta noche en León cumplió con su palabra, y llevó al Rebaño a obtener su tercer título de Copa en su historia en el fútbol mexicano.
				</p>
				<p>Chivas volvió a ser un gigante, ese mismo que hace nueve años fue a la infranqueable cancha de Toluca y ganó su último título de Liga, en diciembre de 2006, superando a los Diablos Rojos como visitante, devolviéndole la alegría a millones de rojiblancos.
				</p>
				<p>La gloria volvió a Chivas, esa que se olvidó de ellos sólo por un tiempo, porque no hay mal que dure cien años, ni enfermo que los aguante.</p>
				<p><a target="_blank" href="http://www.mediotiempo.com/futbol/mexico/cronicas/2015/11/04/el-gigante-resurgio-chivas-campeon-de-copa-mx_66036"><h5>Ver nota completa >></h5></a></p>
			</div>

			<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
				<img src="images/gallery/chicharito-goleador.png" class="img-responsive gallery-img"/>
				<h3>'Chicharito', el goleador de todos los torneos</h3>
				<p>ALEMANIA -- Javier Hernández Balcázar tiene el don de romper marcas. "Chicharito" no solo rebasó la centena de goles en su carrera a nivel de clubes, sino que también ya es el delantero mexicano que ha anotado en mayor número de torneos.
				</p>
				<p>Tras su gol la semana pasada en la DFB Pokal donde el Bayer Leverkusen venció al Viktoria Köln, "Chicharito" alcanzó 12 torneos oficiales a nivel de clubes en los que ha podido festejar goles.</p>
				<p>A su llegada al Bayer Leverkusen, "Chicharito" supo lo que es anotar en la Bundesliga y semanas después en la Copa teutona con lo que llegó a 12 torneos como anotador, algo nuevo para un mexicano.</p>
				<p><a target="_blank" href="http://www.mediotiempo.com/futbol/internacional/noticias/2015/11/04/chicharito-el-goleador-de-todos-los-torneos"><h5>Ver nota completa >></h5></a></p>
			</div>

			<div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
				<img src="images/gallery/jorge-vergara-emocionado.png" class="img-responsive gallery-img"/>
				<h3>Jorge Vergara se dice "emocionado por todo lo que viene" para Chivas</h3>
				<p>MEXICO -- Un Jorge Vergara eufórico celebró en la cancha del Estadio de León la conquista de la Copa MX. Chivas rompió una sequía de nueve años sin levantar un trofeo. “Es una maravilla, esto es espectacular”, aseguró el propietario de la escuadra rojiblanca a <b>ESPN</b>.
				</p>
				<p>Mientras recibía un emotivo abrazo del capitán Omar Bravo, Vergara señaló: “Esto lo esperaba desde el 2006, estoy muy agradecido. Me emociona todo lo que viene. Es el principio de mucho”.</p>
				<p>El empresario demostró la confianza que le genera el buen paso del Rebaño desde la llegada de Matías Almeyda. “Vamos a clasificar a la Liguilla y después vamos a llegar a la final”, se aventuró a pronosticar.</p>
				<p>El polémico directivo siguió con el festejo, pero a la distancia compartió que: “Le dedico la Copa a los aficionados de Chivas y a mi papá”.</p>
				<p><a target="_blank" href="http://espndeportes.espn.go.com/futbol/mexico/nota/_/id/2520207/jorge-vergara-se-dice-emocionado-por-todo-lo-que-viene-para-chivas"><h5>Ver nota completa >></h5></a></p>
			</div>
		</div>
	</div>

	<section id="partner">
				<div class="container">
						<div class="center wow fadeInDown">
								<h2>Our Sponsors</h2>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
						</div>
						<div class="partners">
							<ul>
								<li> <a target="_blank" href="http://www.wallerlaw.com/"><img class="img-responsive wow fadeInDown sponsors" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/waller.png"></a></li>
								<li> <a target="_blank" href="https://www.facebook.com/profile.php?id=100008128806787"><img class="img-responsive wow fadeInDown sponsors" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/soccer.gif"></a></li>
								<li> <a target="_blank" href="http://www.rolandobernal.com/"><img class="img-responsive wow fadeInDown sponsors" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/RB-logo.png"></a></li>
								<li> <a target="_blank" href="https://www.automd.com/shops/us-autocraft-llc_415746/"><img class="img-responsive wow fadeInDown sponsors" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/US_Autocraft_LLC.png"></a></li>
								<li> <a target="_blank" href="https://landob.github.io/"><img class="img-responsive wow fadeInDown sponsors" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/LandoBWebSolutionsLogo.png"></a></li>
							</ul>
						</div>
				</div><!--/.container-->
		</section><!--/#partner-->

	<section id="contacto-info">
				<div class="container">
						<div class="row">
								<div class="col-sm-8">
										<div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
												<div class="pull-left">
														<i class="fa fa-phone"></i>
												</div>
												<div class="media-body">
														<h2>Have a question? Please feel free to contact us!</h2>
														<a href="tel:615-397-9209" class="telephone"><h2>(615) 397-9209</h2></a>
												</div>
										</div>
								</div>
						</div>
				</div><!--/.container-->
		</section><!--/#conatcat-info-->


