  <!-- Blue bar after logo -->
  <div  class="col-lg-12">
  <nav id="main-navigation" class="navbar navbar-fixed-top">
    <div class="container container-fluid">
      <div class="intro-text">
        <p class="blue-bar">OUR TEAMS, OUR PLAYERS, OUR SOUL.</p>
      </div>
    </div> <!-- container-fluid -->
  </nav>
  </div> <!-- Blue bar -->

	<div class="row marketing">
		<div class="col-lg-6">
			<h3>Barcelona U18 (D1)</h3>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
		<div class="col-lg-6">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="100%x180" src="img/nifc01.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
			</a>
		</div>
	 </div>

	 <div class="row marketing">
		<div class="col-lg-6">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="100%x180" src="img/crop.png" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
			</a>
		</div>
		<div class="col-lg-6">
			<h3>Barcelona U15 (D2)</h3>
			<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
		</div>
	 </div>

	<div class="row marketing">
		<div class="col-lg-6">
			<h3>Primos U15 (D2)</h3>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
		<div class="col-lg-6">
			<a href="#" class="thumbnail">
				<img data-src="holder.js/100%x180" alt="100%x180" src="img/nifc01.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
			</a>
		</div>
	</div>
