

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Teams</li>
			</div>
		</div>
	</div>

<section id="team">
		<div class="container">
			<div class="center">
			   <p>Teams affiliated to our Nashville International Futbol Club.</p>
			</div>

			<ul class="team-filter text-center">
				<li><a class="btn btn-default active" href="/#/teams" data-filter="*">All Teams</a></li>
				<li><a class="btn btn-default" href="/#/teams" data-filter=".boys-teams">Boys Teams</a></li>
				<li><a class="btn btn-default" href="/#/teams" data-filter=".girls-teams">Girls Teams</a></li>
				<li><a class="btn btn-default" href="/#/teams" data-filter=".u18">U18</a></li>
				<li><a class="btn btn-default" href="/#/teams" data-filter=".u15">U15</a></li>
			</ul><!--/#team-filter-->
		</div>
		<div class="container">
			<div class="">
				<div class="team-items">
					<div class="team-item boys-teams u18 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive" src="images/team/recent/item1.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a href="#">Barcelona U18 (D1)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<a class="preview" href="images/team/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item boys-teams u15 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive" src="images/team/recent/item2.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a href="#">Barcelona U15 (D2)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<a class="preview" href="images/team/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item girls-teams u15 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive" src="images/team/recent/item3.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a href="#">Primos U15 (D2)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<a class="preview" href="images/team/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item boys-teams u15 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive" src="images/team/recent/item4.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a href="#">Other Team (U15)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<a class="preview" href="images/team/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item boys-teams u18 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive" src="images/team/recent/item5.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a href="#">Other Team (U18)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<a class="preview" href="images/team/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item girls-teams u18 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive" src="images/team/recent/item6.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a href="#">Other Team (U18)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<a class="preview" href="images/team/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item boys-teams u18 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive" src="images/team/recent/item7.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a href="#">Other Team (U18)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<a class="preview" href="images/team/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item girls-teams u15 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive" src="images/team/recent/item8.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a href="#">Girls Team (U15)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
									<a class="preview" href="images/team/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->
				</div>
			</div>
		</div>
	</section><!--/#team-item-->
