

	<div id="breadcrumb">
		<div class="container">
			<div class="breadcrumb">
				<li><a href="index.html">Home</a></li>
				<li>Teams</li>
			</div>
		</div>
	</div>

<section id="team">
		<div class="container">
			<div class="center">
			   <p>Teams affiliated to our Nashville International Futbol Club.</p>
			</div>

			<ul class="team-filter text-center">
				<li><a class="btn btn-default active" href="/#/teams" data-filter="*">All Teams</a></li>
				<li><a class="btn btn-default" href="/#/teams" data-filter=".boys-teams">Boys Teams</a></li>
				<li><a class="btn btn-default" href="/#/teams" data-filter=".girls-teams">Girls Teams</a></li>
				<li><a class="btn btn-default" href="/#/teams" data-filter=".u18">U18</a></li>
				<li><a class="btn btn-default" href="/#/teams" data-filter=".u15">U15</a></li>
			</ul><!--/#team-filter-->
		</div>
		<div class="container">
			<div class="">
				<div class="team-items">
					<div class="team-item boys-teams u18 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive gallery-img" src="images/teams/nifc01.jpg" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
								<h3><a data-toggle="modal" data-target="#teamModal">Barcelona U18 (D1)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item boys-teams u15 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive gallery-img" src="images/teams/NIFC01.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a data-toggle="modal" data-target="#teamModal">Barcelona U15 (D2)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item girls-teams u15 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive gallery-img" src="images/teams/NIFC02.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a data-toggle="modal" data-target="#teamModal">Primos U15 (D2)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item boys-teams u15 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive gallery-img" src="images/teams/DeportivoSmyrna.jpeg" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a data-toggle="modal" data-target="#teamModal">Deportivo Smyrna(U15)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item boys-teams u18 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive gallery-img" src="images/teams/NIFC03.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a data-toggle="modal" data-target="#teamModal">Other Team (U18)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item girls-teams u18 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive gallery-img" src="images/teams/NIFC04.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a data-toggle="modal" data-target="#teamModal">Other Team (U18)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item boys-teams u18 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive gallery-img" src="images/teams/NIFC01.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a data-toggle="modal" data-target="#teamModal">Other Team (U18)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->

					<div class="team-item girls-teams u15 col-xs-12 col-sm-4 col-md-3">
						<div class="recent-work-wrap">
							<img class="img-responsive gallery-img" src="images/teams/NIFC02.png" alt="">
							<div class="overlay">
								<div class="recent-work-inner">
									<h3><a data-toggle="modal" data-target="#teamModal">Girls Team (U15)</a></h3>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
								</div>
							</div>
						</div>
					</div><!--/.team-item-->
				</div>
			</div>
		</div>
	</section><!--/#team-item-->

	<modal-directive></modal-directive>
