<div class="row marketing">
	<div class="col-lg-1"></div>
	<div class="col-lg-10">
		<p> Nashville International Futbol Club is excited to announce open tryouts for the 2015 season! We are now available for sign-ups.</p>
		<p> Players must be 16 years of age in order to participate in the tryouts and please make sure you are fit and ready to play.</p>
		<p> You must bring proof of age such as driver's license, etc.</p>
		<p><span>REGISTRATION FEE</span><br>
		$30 - Online<br/>
		$35 - Walkup<br>
		</p>
		<p><span>DATES / TIMES:</span><br>
		Saturday December 20th - 12:30 - 3:00pm<br>
		Sunday January 18th - 12:30 - 3:00pm<br>
		Saturday February 21st - 12:30 - 3:00pm<br>
		Monday March 7th (Group One) 8:30am - 11:00am; (Group Two) 12:00pm - 2:30pm<br>
		</p>
		<p><span>LOCATION:</span><br>
		Vanderbilt University turf fields off Natchez Trace / Wellington Place</p>
	</div>
	<div class="col-lg-1"></div>
</div>
<div class="row">
	<div class="col-lg-1"></div>
	<div class="col-lg-10 tryout">
		<p><h4>Want to play for us? Come on and join us! There is a place for you here.</h4></p>
		<p><h3>Sign up today!!</h3></p>
	</div>
	<div class="col-lg-1"></div>
</div>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-7 tryout">
			<form class="form-horizontal wow fadeInUp" id="contactForm" action="tryouts.html" method="POST">
				<div class="form-group">
					<div class="col-md-10">
						<label>Parent's Name:</label><br>
						<input type="text" class="form-control" id="parent-name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10">
						<label>Player's Name:</label><br>
						<input type="text" class="form-control" id="player-name">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10">
							<label> Teams of interest:</label><br>
								<input type="radio" name="team-type" value="boys"> &nbsp Boys &nbsp &nbsp
								<input type="radio" name="team-type" value="girls"> &nbsp Girls
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10">
						<label for="email">Email Address:</label><br>
						<input type="email" class="form-control" id="email" name="player-email">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-10">
						<label for="phone">Phone number:</label><br>
						<input type="phone" class="form-control" id="phone" name="user-phone">
					</div>
				</div>
				<div class="form-group">
						<label for="dob"> Date of Birth:</label><br>
					<div class="col-md-4">
							<select id="month" class="form-control">
								<option value="month">Month</option>
								<option value="january">January</option>
								<option value="february">February</option>
								<option value="march">March</option>
								<option value="april">April</option>
								<option value="may">May</option>
								<option value="june">June</option>
								<option value="july">July</option>
								<option value="august">August</option>
								<option value="September">September</option>
								<option value="october">October</option>
								<option value="November">November</option>
								<option value="december">December</option>
							</select>
						</div>
						<div class="col-md-3">
							<select id="day" class="form-control">
								<option value="Day">Day</option>
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
								<option value="06">06</option>
								<option value="07">07</option>
								<option value="08">08</option>
								<option value="09">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
						</div>
						<div class="col-md-3">
							<select id="year" class="form-control">
								<option value="Day">Year</option>
								<option value="2016">1986</option>
								<option value="2017">1987</option>
								<option value="2018">1988</option>
								<option value="2019">1989</option>
								<option value="1990">1990</option>
								<option value="1991">1991</option>
								<option value="1992">1992</option>
								<option value="1993">1993</option>
								<option value="1994">1994</option>
								<option value="1995">1995</option>
								<option value="1996">1996</option>
								<option value="1997">1997</option>
								<option value="1998">1998</option>
								<option value="1999">1999</option>
								<option value="2000">2000</option>
								<option value="2001">2001</option>
								<option value="2002">2002</option>
								<option value="2003">2003</option>
								<option value="2004">2004</option>
								<option value="2005">2005</option>
								<option value="2006">2006</option>
								<option value="2007">2007</option>
								<option value="2008">2008</option>
								<option value="2009">2009</option>
								<option value="2010">2010</option>
								<option value="2011">2011</option>
								<option value="2012">2012</option>
								<option value="2013">2013</option>
								<option value="2014">2014</option>
								<option value="2015">2015</option>
							</select>
						</div>
					</div>
				<div class="form-group">
					<div class="col-md-10">
						<label for="message"> Your Message:</label><br>
						<textarea class="form-control" rows="3"id="message" name="message"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10">
						<button class="btn btn-lg btn-primary" type="submit">Submit</button>
					</div>
				</div>
			</form>
	</div>
	<div class="col-sm-2"></div>
</div>




<!--

2015 Nashville FC NPSL Tryouts Presented By Tennessee Brew Works!

Nashville International Futbol Club is excited to announce open tryouts for the 2015 season are now available for sign-ups. Must be 16 years of age in order to participate in the tryout and please make sure you are fit and ready to play. Must bring proof of age such as driver’s license, etc., shin guards and cleats/turfs.

REGISTRATION FEE

$30 – Online
$35 – Walkup
DATES / TIMES:

Saturday December 20th– 12:30-3:00pm
Sunday January 18th-12:30-3:00pm
Saturday February 21st - 12:30-3:00pm
March 7th- (Group One) 8:30am – 11:00am; (Group Two) 12:00pm to 2:30pm
LOCATION:

Vanderbilt Univ. turf fields off Natchez Trace / Wellington Place

DIRECTIONS:From the east

Depart I-40 W
Keep straight onto I-24 W / I-40 W
Keep left onto I-40 W
At exit 210B, take ramp left for I-65 South toward Huntsville
At exit 81, take ramp right and follow signs for Wedgewood Ave
Turn right onto Wedgewood Ave
Road name changes to Blakemore Ave
Turn right onto Natchez Trace
Turn left onto Wellington Pl
Arrive at field
From the south

Take I-65 N
At exit 80, take ramp right for I-440 West toward Memphis
At exit 1, take ramp right and follow signs for US-70S East
Turn right onto 31st Ave S
Turn left onto Natchez Trace
Turn left onto Wellington Pl
Arrive at field
From the north

Take I-65 S
Road name changes to I-24 E / I-65 S
Take ramp right for I-65 South toward Huntsville / Memphis
At exit 84B, take the ramp left for I-40 West toward Memphis
At exit 206, take ramp left for I-440 East toward Knoxville
At exit 1, take ramp right for Murphy Rd toward West End Ave.
Turn Left onto Murphy Rd
Bear left onto US-70S / TN-1 / West End Ave
Turn right onto 31st Ave S
Turn left onto Natchez Trace
Turn left onto Wellington Pl
Arrive at the field
From the west

Take I-40 East toward Nashville
At exit 206, take ramp right for I-440 East toward Knoxville
At exit 1, take ramp right for Murphy Rd toward West End Ave
Turn left onto Murphy Rd
Bear left onto US-70S / TN-1 / West End Ave
Turn right onto 31st Ave S
Turn left onto Natchez Trace
Turn left onto Wellington Pl
Arrive at the field




 -->
